*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.app-container {
	text-align: center;
	min-height: 100vh;
}

.header {
	background-color: #00ff00;
	height: 80px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-bottom: 20px;
	position: sticky;
	top: 0;
}

.app-container h1 {
	font-weight: 700;
}

.item-container {
	margin-bottom: 5px;
}

.progress-bar-container {
	height: 3px;
	background-color: #00f;
	position: absolute;
	left: 0;
	top: 80px;
}
